<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import CalComponents from "./components/CalComponents.vue";
import HelloWorldExample from "./components/HelloWorldExample.vue";
import HandingLiserinput from "./components/HandingLiserinput.vue";
import AttributeBindings from "./components/AttributeBindings.vue";
import FormBindings from "./components/FormBindings.vue";
import ConditionalsANDLoops from "./components/ConditionalsANDLoops.vue";
import SimpleComponent from "./components/SimpleComponent.vue";
</script>

<template>
  <div>
    <CalComponents />
    <HelloWorldExample />
    <HandingLiserinput />
    <AttributeBindings />
    <ConditionalsANDLoops />
    <FormBindings />
    <SimpleComponent />
  </div>
</template>

<style scoped></style>
